{% extends "navbar.html" %} <!--Loads the base.html-->
{% block title %}{{ tab }}{% endblock %} <!--blocks title from base.html, replaces tab name -->
{% block content %}  <!--Child template loads here-->

{% if tab == 'Home | SD Reconnect' %}
  <section style="text-align: center; padding: 50px">
    <h2>Our Mission</h2>
    <p>TBD.</p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/xCihADw94v4?playlist=xCihADw94v4&loop=1&autoplay=1&mute=1"
        title="San Diego RECONNECT Mission Video"
        allowfullscreen>
    </iframe>
  </section>

<!--SUBHEAD : HOUSING & SHELTER-->
 <section style="text-align: center; padding: 50px">
  <a href="{{ url_for('category_page', category_name='housing') }}"
     style="text-decoration: none; color: inherit;">

      <img src= "https://gcdnb.pbrd.co/images/Jv5w69X3UAxZ.png"
           alt="Housing Icon"
           style="width: 100px; border-radius: 8px;">

    <div style="margin-top: 20px;">
      <h2 style="margin: 0; font-size: 60px;">Housing & Shelter</h2>

    </div>
  </a>
  <p>
    TBD.
  </p>
</section>

<!--SUHEAD: EMPLOYMENT & JOB PROGRAMS-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='jobs') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/FePB8qtITrXe.png"
           alt="Jobs Icon"
           style="width: 100px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;font-size: 60px;">Employment & Job Programs</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



<!--SUHEAD: MEDICAL AID-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='medical') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/IJbSYFvfTqEQ.png"
           alt="Medical Icon"
           style="width: 100px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;font-size: 60px;">Medical Aid</h2>
    </div>
  </a>
  <p>
   TBD.
  </p>
</section>

<!--SUBHEAD: SOCIAL SERVICES-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='socserv') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/U8WFLyuvOAZB.png"
           alt="Social Icon"
           style="width: 100px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;font-size: 60px;">Social Services</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



{% elif tab == 'Services'%}
<div style="height: 50px;"></div>
  <h2 style="text-align: center; margin-bottom: 40px;">Services</h2>

    <!--SUBHEAD : HOUSING & SHELTER-->
 <section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='housing') }}"
     style="text-decoration: none; color: inherit;">

      <img src= "https://gcdnb.pbrd.co/images/Jv5w69X3UAxZ.png"
           alt="Housing Icon"
           style="width: 25px; border-radius: 8px;">

    <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Housing & Shelter</h2>

    </div>
  </a>
  <p>
    TBD.
  </p>
</section>

<!--SUHEAD: EMPLOYMENT & JOB PROGRAMS-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='jobs') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/FePB8qtITrXe.png"
           alt="Jobs Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Employment & Job Programs</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



<!--SUHEAD: MEDICAL AID-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='medical') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/IJbSYFvfTqEQ.png"
           alt="Medical Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Medical Aid</h2>
    </div>
  </a>
  <p>
   TBD.
  </p>
</section>

<!--SUBHEAD: SOCIAL SERVICES-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='socserv') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/U8WFLyuvOAZB.png"
           alt="Social Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Social Services</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



{% elif tab == 'Category' %}
  {% if category_name == 'medical' %}
    <section  class="medicalpageback" style="text-align: center; padding: 50px">
      <h2 style="font-size: 60px;">Medical Aid & Support Centers</h2>
        <p style="font-size: 30px;">San Diego County</p>
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
            <script src='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css' rel='stylesheet' />
            <style>


                .medicalpageback {
                background-image: url("{{ url_for('static', filename='images/Medical_Back.png')}}");
                background-repeat: no-repeat;
                background-position: center;
                background-color: white;
                background-size: cover;
                background-attachment: scroll;
                padding-top: 60px;

              }


                #map {width: 100%; max-width: 1000px; height: 500px; margin: 0 auto;
}
            </style>
                <div id= 'map'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoiamdhcmk5OSIsImEiOiJjbWh2OWRqem0wODY5MmpvbHJxMmozaTE3In0.vrLm1-6hthTMJwmeOc4UJQ';
                    const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [-117.079553, 32.741737],
                    zoom: 11
                    });



medical_centers = [
              {

        'lat': 32.79900660506265,
        'lon': -116.9601865134914,
        'name': 'Aging & Independence Services',
        'location': '389 Magnolia Ave, El Cajon, CA 92020',


       //"Available Clean Beds": [326,325,324,323,322]

    },
    {

        'lat': 32.71599167547079,
        'lon': -117.1560215,
        'name': 'Senior Impact',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'
    },
    {

        'lat':32.731718449871316,
        'lon':-117.16492089994334,
        'name': 'St. Paul\'s PACE San Diego',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'
    },
    {

        'lat': 32.723514016694836,
        'lon': -117.16139325969378,
        'name': 'Street Corner Care',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'
    },
    {

        'lat': 32.834611021571824,
        'lon':   -117.12371306131709,
        'name': 'Elder Help of San Diego',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'
    },
    {

        'lat':32.718670345363364,
        'lon': -117.15962191899425,
        'name': 'Downtown Family Health Center at Connections',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'

    },
    {

        'lat': 32.70613593008157,
        'lon': -117.1500831480566,
        'name': 'Father Joe\'s Villages Village Health Center',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'
    }

];




for (let i = 0; i < medical_centers.length; i++) {
    const medical = medical_centers[i]; // get one shelter

    // Add a marker for this shelter
    new mapboxgl.Marker( {color: 'red'})
      .setLngLat([medical.lon, medical.lat]) // longitude, latitude
      .setPopup(
        new mapboxgl.Popup({ offset: 25, maxWidth: "none" })
          .setHTML(
            `<div style="font-size: 30px;padding: 50px;max-width: 600px;"><strong>${medical.name}<strong><br>
            <div style="font-size: 30px;padding: 30px;max-width: 600px;">Location:<br><br>${medical.location}</div>

          `)
      )
      .addTo(map);
  }






                </script>
<br>
<br>
<br>
 <p> <div style="font-size: 60px;"><strong>Do You Need Transportation?</strong></p>
 <p><div style="font-size: 45px;">Call:</p>

  <p><div style="font-size: 50px;">FOR AGES 60+<br>Facilitating Access to Coordinated Transportation (FACT) -  (888) 924-3228</p>
   <p><div style="font-size: 50px;">NAME  -  PHONE NUMBER</p>



    </section>

  {% elif category_name == 'jobs' %}
    <section style="text-align: center; padding: 50px">
      <h2>Employment & Job Programs</h2>
      <p>TBD.</p>
    </section>

  {% elif category_name == 'housing' %}
    <section style="text-align: center; padding: 50px">
      <h2>Housing & Shelter</h2>
      <p>San Diego County Shelter Locations:</p>
       <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
            <script src='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css' rel='stylesheet' />
            <style>

                #map2 {width: 100%; max-width: 1000px; height: 500px; margin: 0 auto;
}
            </style>
                <div id= 'map2'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoiamdhcmk5OSIsImEiOiJjbWh2OWRqem0wODY5MmpvbHJxMmozaTE3In0.vrLm1-6hthTMJwmeOc4UJQ';
                    const map = new mapboxgl.Map({
                    container: 'map2',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [-117.16, 32.72],
                    zoom: 11
                    });

 shelters = [
    {'id': 0, 'lat': 32.70339, 'lon': -117.15072, 'name': 'Alpha Project Bridge Shelter I'},
    {'id': 1, 'lat': 32.70639, 'lon': -117.14864, 'name': 'Alpha Project Bridge Shelter II'},
    {'id': 2, 'lat': 32.70561, 'lon': -117.15011, 'name': 'Father Joe\'s Villages Bishop Maher Center'},
    {'id': 3, 'lat': 32.75317, 'lon': -117.20764, 'name': 'Community Harm Reduction Shelter<br>(C-HRT)'},
    {'id': 4, 'lat': 32.74428, 'lon': -117.19197, 'name': 'Point Loma Campus<br>(Veterans Village of San Diego)'},
    {'id': 5, 'lat': 32.71325, 'lon': -117.15733, 'name': 'Rachel\'s Promise Women\'s Shelter'},
    {'id': 6, 'lat': 32.75325, 'lon': -117.20094, 'name': 'Rosecrans Shelter'},
    {'id': 7, 'lat': 32.71867, 'lon': -117.15939, 'name': 'PATH Connections Housing'},
    {'id': 8, 'lat': 32.66822, 'lon': -117.17103, 'name': 'South County Lighthouse<br>(San Diego Rescue Mission)'},
    {'id': 9, 'lat': 32.72258, 'lon': -117.19233, 'name': 'Seniors Landing Bridge Shelter'},
    {'id': 10, 'lat': 32.74478, 'lon': -117.19233, 'name': 'Community Harm Reduction Safe Haven Shelter'}
]

for (let i = 0; i < shelters.length; i++) {
    const shelter = shelters[i]; // get one shelter

    // Add a marker for this shelter
    new mapboxgl.Marker( {color: 'red'})
      .setLngLat([shelter.lon, shelter.lat]) // longitude, latitude
      .setPopup(
        new mapboxgl.Popup({ offset: 25, maxWidth: "none" })
          .setHTML(
            `<div style="font-size: 30px;padding: 30px;max-width: 600px;"><strong>${shelter.name}<strong><br>
            <div style="font-size: 30px;padding: 30px;max-width: 600px;">Location:<br><br>${shelter.id}</div>

          `)
      )
      .addTo(map);
  }


</script>


    </section>

  {% elif category_name == 'socserv' %}
    <section style="padding: 50px; text-align: center;">
      <h2>Social Services</h2>
      <p>TBD.</p>
    </section>



  {% endif %}




{% elif tab == 'Trends' %}
  <section style="padding: 50px;">
    <h2 style="text-align: center; font-size: 40px">Trends in the Population: </h2>
    <div style="text-align: center;">
      <p></p>
      <h2>The information below is courtesy of San Diego County Office</h2>
      <img
  src="{{ url_for('static', filename='/Unhouse Seniors.png') }}"
 style="max-width: 100%; height: auto; display: block; margin: 40px auto;"
  title="Housing Services PDF">
      </img>
    </div>
  </section>









{% elif tab == 'About This Website' %}
<img src="https://gcdnb.pbrd.co/images/bpRW2t1jOgFr.png"
     alt="Alternative text" style="width:100%; height:100%;">






  <section style="position: absolute; top: 200px; left: 120px;">
    <h2 style="text-align: center; font-size: 80px; color: black;background-color: rgba(255, 255, 255, 0.5);">Information:</h2>
    <p style="font-size: 50px; color: black;background-color: rgba(255, 255, 255, 0.5);">Our website allows people who are experiencing housing crisis and impaired with technological literacy
        to navigate and use resources with simplicity.
    <br>An application is in the works.</p>
  </section>

{% elif tab == 'Contact Us' %}
  <section style="padding: 50px;">
    <h2 style="text-align: center; font-size: 60px">Creators:</h2>
    <div style="text-align: center;">
      <p>Jesus Garibay</p>
      <p>Email: jgaribayavalos@sdsu.edu</p>
      <p>760-333-333</p>
      <p>Juan Lemus</p>
      <p>Email: ddfdffd@sdsu.edu</p>
      <p>760-333-333</p>
    </div>
  </section>


{% endif %}

{% endblock %}
