{% extends "navbar.html" %} <!--Loads the base.html-->
{% block title %}{{ tab }}{% endblock %} <!--blocks title from base.html, replaces tab name -->
{% block content %}  <!--Child template loads here-->

{% if tab == 'Home | SD Reconnect' %}
  <section style="text-align: center; padding: 50px">
  <img src="{{ url_for('static', filename='images/homeimage.png') }}"
     alt="Alternative text" style="width:50%; height:50%;">
  </section>

<!--SUBHEAD : HOUSING & SHELTER-->
 <section style="text-align: center; padding: 50px">
  <a href="{{ url_for('category_page', category_name='housing') }}"
     style="text-decoration: none; color: inherit;">

      <img src= "https://gcdnb.pbrd.co/images/Jv5w69X3UAxZ.png"
           alt="Housing Icon"
           style="width: 100px; border-radius: 8px;">

    <div style="margin-top: 20px;">
      <h2 style="margin: 0; font-size: 60px; font-family: san-serf, Verdana;">Housing & Shelter</h2>

    </div>
  </a>
  <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">
    Information on locations and status of current shelters and possible housing opportunities.

  </p>
</section>

<!--SUHEAD: EMPLOYMENT & JOB PROGRAMS-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='jobs') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/FePB8qtITrXe.png"
           alt="Jobs Icon"
           style="width: 100px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;font-size: 60px; font-family: san-serf, Verdana;">Employment & Job Programs</h2>

    </div>
  </a>
  <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">
   Information on possible programs to different pathways and potential job opportunities.
  </p>
</section>



<!--SUHEAD: MEDICAL AID-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='medical') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/IJbSYFvfTqEQ.png"
           alt="Medical Icon"
           style="width: 100px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;font-size: 60px; font-family: san-serf, Verdana;">Medical Aid</h2>
    </div>
  </a>
  <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">
   Information about medical centers and crisis centers in addition to transportation.

  </p>
</section>

<!--SUBHEAD: SOCIAL SERVICES-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='socserv') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/U8WFLyuvOAZB.png"
           alt="Social Icon"
           style="width: 100px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;font-size: 60px;font-family: san-serf, Verdana;">Social Services</h2>

    </div>
  </a>
  <p  style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">
      Information about social services currently available near you.

  </p>
</section>



{% elif tab == 'Services'%}
<div style="height: 50px;"></div>
  <h2 style="text-align: center; margin-bottom: 40px;">Services</h2>

    <!--SUBHEAD : HOUSING & SHELTER-->
 <section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='housing') }}"
     style="text-decoration: none; color: inherit;">

      <img src= "https://gcdnb.pbrd.co/images/Jv5w69X3UAxZ.png"
           alt="Housing Icon"
           style="width: 25px; border-radius: 8px;">

    <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Housing & Shelter</h2>

    </div>
  </a>
  <p>
    TBD.
  </p>
</section>

<!--SUHEAD: EMPLOYMENT & JOB PROGRAMS-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='jobs') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/FePB8qtITrXe.png"
           alt="Jobs Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Employment & Job Programs</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



<!--SUHEAD: MEDICAL AID-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='medical') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/IJbSYFvfTqEQ.png"
           alt="Medical Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Medical Aid</h2>
    </div>
  </a>
  <p>
   TBD.
  </p>
</section>

<!--SUBHEAD: SOCIAL SERVICES-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='socserv') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/U8WFLyuvOAZB.png"
           alt="Social Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Social Services</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



{% elif tab == 'Category' %}
  {% if category_name == 'medical' %}
    <section  class="medicalpageback" style="text-align: center; padding: 50px">
      <h2 style="font-size: 60px;">Medical Aid & Support Centers</h2>
        <p style="font-size: 45px;">San Diego County</p>
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
            <script src='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css' rel='stylesheet' />
            <style>


                .medicalpageback {
                background-image: url("{{ url_for('static', filename='images/Medical_Back.jpg')}}");
                background-repeat: no-repeat;
                background-position: center;
                background-color: white;
                background-size: cover;
                background-attachment: scroll;
                padding-top: 60px;

              }


                #map {width: 100%; max-width: 1000px; height: 500px; margin: 0 auto;
}
            </style>
                <div id= 'map'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoiamdhcmk5OSIsImEiOiJjbWh2OWRqem0wODY5MmpvbHJxMmozaTE3In0.vrLm1-6hthTMJwmeOc4UJQ';
                    const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [-117.079553, 32.741737],
                    zoom: 11
                    });



medical_centers = [
              {

        'lat': 32.79900660506265,
        'lon': -116.9601865134914,
        'name': 'Aging & Independence Services',
        'location': '389 Magnolia Ave, El Cajon, CA 92020'

    },
    {

        'lat': 32.71599167547079,
        'lon': -117.1560215,
        'name': 'Senior Impact',
        'location': '928 Broadway, San Diego, 92101'
    },
    {

        'lat':32.731718449871316,
        'lon':-117.16492089994334,
        'name': 'St. Paul\'s PACE San Diego',
        'location': '111 Elm St, San Diego, CA 92101'
    },
    {

        'lat': 32.723514016694836,
        'lon': -117.16139325969378,
        'name': 'Street Corner Care',
        'location': '320 Date St, San Diego, CA 92101'
    },
    {

        'lat': 32.834611021571824,
        'lon':   -117.12371306131709,
        'name': 'Elder Help of San Diego',
        'location': '9590 Chesapeake Dr, San Diego, CA 92123'
    },
    {

        'lat':32.718670345363364,
        'lon': -117.15962191899425,
        'name': 'Downtown Family Health Center at Connections',
        'location': '1250 South Ave #100, San Diego, CA 92101'

    },
    {

        'lat': 32.70613593008157,
        'lon': -117.1500831480566,
        'name': 'Father Joe\'s Villages Village Health    Center',
        'location': '1501 Imperial Ave, San Diego, CA 92101'
    }

];




for (let i = 0; i < medical_centers.length; i++) {
    const medical = medical_centers[i]; // get one shelter

    // Add a marker for this shelter
    new mapboxgl.Marker( {color: 'red'})
      .setLngLat([medical.lon, medical.lat]) // longitude, latitude
      .setPopup(
        new mapboxgl.Popup({ offset: 25, maxWidth: "none" })
          .setHTML(
            `<div style="font-size: 30px;padding: 50px;max-width: 600px;"><strong>${medical.name}<strong><br>
            <div style="font-size: 30px;padding: 30px;max-width: 600px;">Location:<br><br>${medical.location}</div>

          `)
      )
      .addTo(map);
  }






                </script>
<br>
<br>
<br>
 <p> <div style="font-size: 60px; color:#10C809;"><strong>Free Transportation:</strong></p>

     <img  src= "{{ url_for('static', filename='images/transport.jpg')}}"
           style="width: 300px; border-radius: 8px;">


 <p><div style="font-size: 45px;color: #2746F5">Contact Us:</p>

  <p><div style="font-size: 50px;color: black">Facilitating Access to Coordinated Transportation (FACT)</p>
   <p><div style="font-size: 50px;color: #097005">(888) 924-3228</p>
                    <br>
                    <br>
<p><div style="font-size: 50px;color: black">SenioRide Program (also by FACT) </p>

                        <p><div style="font-size: 50px;color: yellow">Enrollment Is Free But Required</p>

   <p><div style="font-size: 50px;color: #097005">619-295-8393 ext. 314</p>

    </section>

  {% elif category_name == 'jobs' %}
    <section class="jobsimage" style="text-align: center; padding: 50px">
        <div style="font-size: 50px; font-family: san-serf, Verdana;color: black;background-color: rgba(255, 255, 255, 0.5);">Employment & Job Programs</div>
        <style>
        .jobsimage {
                background-image: url("{{ url_for('static', filename='images/coming_soon.png')}}");
                height: 100vh;
                background-repeat: no-repeat;
                background-position: center;
                background-color: white;
                background-size: cover;
                background-attachment: scroll;


             }
         </style>







    </section>

  {% elif category_name == 'housing' %}
    <section style="text-align: center; padding: 50px">
      <h2 style="font-size: 50px;font-family: san-serf, Verdana;">Shelters</h2>
      <p style="font-size: 35px;font-family: san-serf, Verdana;">San Diego County Shelter Locations:</p>
       <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
            <script src='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css' rel='stylesheet' />
            <style>

                #map2 {width: 100%; max-width: 1000px; height: 500px; margin: 0 auto;
}
            </style>
                <div id= 'map2'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoiamdhcmk5OSIsImEiOiJjbWh2OWRqem0wODY5MmpvbHJxMmozaTE3In0.vrLm1-6hthTMJwmeOc4UJQ';
                    const map = new mapboxgl.Map({
                    container: 'map2',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [-117.05381, 32.88264],
                    zoom: 9
                    });

 shelters = [

    {'lat': 32.72134, 'lon': -117.16098, 'name': 'Gary & Mary West Senior Wellness Center', 'location': '1525 4th Ave, San Diego, CA 92101'},
    { 'lat': 32.72941, 'lon': -117.16402, 'name': 'Salvation Army Silvercrest Senior Residence', 'location': '727 E St, San Diego, CA 92101'},
    { 'lat': 32.83475, 'lon': -117.12373, 'name': 'ElderHelp of San Diego', 'location': '9590 Chesapeake Dr, San Diego, CA 92123'},
     { 'lat': 32.77484, 'lon': -117.12753, 'name': 'Community HousingWorks', 'location':  '3111 Camino Del Rio N #800, San Diego, CA 92108'},
    { 'lat': 33.12515, 'lon': -117.09185, 'name': 'Interfaith Community Services-Senior Housing Programs', 'location': '550 W Washington Ave, Escondido, CA 92025'},
     { 'lat': 32.72416, 'lon': -117.16369, 'name': 'San Diego Rescue Mission', 'location':   '120 Elm St, San Diego, CA 92101'}

]

for (let i = 0; i < shelters.length; i++) {
    const shelter = shelters[i]; // get one shelter

    // Add a marker for this shelter
    new mapboxgl.Marker( {color: 'red'})
      .setLngLat([shelter.lon, shelter.lat]) // longitude, latitude
      .setPopup(
        new mapboxgl.Popup({ offset: 25, maxWidth: "none" })
          .setHTML(
            `<div style="font-size: 30px;padding: 30px;max-width: 600px;"><strong>${shelter.name}<strong><br>
            <div style="font-size: 30px;padding: 30px;max-width: 600px;">Location:<br><br>${shelter.location}</div>

          `)
      )
      .addTo(map);
  }


</script>


    </section>

  {% elif category_name == 'socserv' %}
     <section class="socservimage" style="text-align: center; padding: 50px">
      <div style="font-size: 50px; font-family: san-serf, Verdana;color: black;background-color: rgba(255, 255, 255, 0.5);">Social Services</div>
        <style>
        .socservimage {
                background-image: url("{{ url_for('static', filename='images/coming_soon.png')}}");
                height: 100vh;
                background-repeat: no-repeat;
                background-position: center;
                background-color: white;
                background-size: cover;
                background-attachment: scroll;
             }
         </style>




    </section>



  {% endif %}




{% elif tab == 'Trends' %}
  <section style="padding: 50px;">
    <h2 style="text-align: center; font-size: 50px;font-family: san-serf, Verdana;">Trends in the Population: </h2>
    <div style="text-align: center;font-size: 30px;font-family: san-serf, Verdana;">
      <p></p>
      <h2>The information below is courtesy of San Diego County Office</h2>
      <img
  src="{{ url_for('static', filename='/Unhouse Seniors.png') }}"
 style="max-width: 100%; height: auto; display: block; margin: 40px auto;"
      </img>

        <img
  src="{{ url_for('static', filename='/Disabilities.png') }}"
 style="max-width: 100%; height: auto; display: block; margin: 40px auto;"
      </img>


        <p style="text-align: center; font-size: 50px;font-family: san-serf, Verdana;">
            <strong>The following graph shows the total count of unhoused individuals — across all ages:</strong> </p>
 <img
  src="{{ url_for('static', filename='/San Diego County Experiencing Homelessness.png') }}"
 style="max-width: 100%; height: auto; display: block; margin: 40px auto;"
      </img>



    </div>
  </section>









{% elif tab == 'Our Mission' %}
<img src="{{ url_for('static', filename='images/helping_seniors.jpg') }}"
     alt="Alternative text" style="width:100%; height:100%;">






  <section style="position: absolute; top: 500px; left: 120px;">
    <h2 style="text-align: center; font-size: 80px; font-family: san-serf, Verdana; color: black;">Mission Statement:</h2>
    <p style="font-size: 50px; font-family: san-serf, Verdana;color: black;background-color: rgba(255, 255, 255, 0.5);">Our mission is to provide a website platform
        which allows unhoused seniors with disabilities and/or technological challenges to access resources easily.
    </section>
    <section style="position: absolute; text-align: center; top: 1200px; left: 300px">
      <p style="margin: 0;font-size: 60px; font-family: san-serf, Verdana;"><strong>Created By:</strong></p>
        <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">Jesus Garibay</p>
      <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">Email: jgaribayavalos@sdsu.edu</p>
      <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">+1 5055372079</p>
        <br>
      <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">Juan Lemus</p>
      <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">Email: jlemus9029@sdsu.edu</p>
      <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;">+1 5054924528</p>
    </div>
  </section>

{% elif tab == 'Emergency Help' %}
  <section class="emergencyimage" style="text-align: center; padding: 1px">

      <img src="{{ url_for('static', filename='images/emergency.jpg') }}"
     style="max-width: 100%; height: 300px; display: block; margin: -1px auto;">


      <div style="text-align: center;">
<p style="margin: 0;font-size: 60px; font-family: san-serf, Verdana;">Crisis Hotlines</p>
          <br>
          <br>
          <br>

      <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;"><strong>Suicide and Crisis Lifeline</strong></p>
           <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;color: red">Call:   988</p>
          <br>
          <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;"><strong>The San Diego Access & Crisis Line (ACL)</strong></p>
           <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;color: red">Call:  1-888-724-7240</p>
<br>
          <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;"><strong>Aging & Independence Services</strong></p>
           <p style="margin: 0;font-size: 45px; font-family: san-serf, Verdana;color: red">Call:  800-339-4661</p>




    </div>



  </section>


{% endif %}

{% endblock %}
