{% extends "navbar.html" %} <!--Loads the base.html-->
{% block title %}{{ tab }}{% endblock %} <!--blocks title from base.html, replaces tab name -->
{% block content %}  <!--Child template loads here-->

{% if tab == 'Home | SD Reconnect' %}
  <section style="text-align: center; padding: 50px">
    <h2>Our Mission</h2>
    <p>TBD.</p>
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/xCihADw94v4?playlist=xCihADw94v4&loop=1&autoplay=1&mute=1"
        title="San Diego RECONNECT Mission Video"
        allowfullscreen>
    </iframe>
  </section>

<!--SUBHEAD : HOUSING & SHELTER-->
 <section style="text-align: center; padding: 50px">
  <a href="{{ url_for('category_page', category_name='housing') }}"
     style="text-decoration: none; color: inherit;">

      <img src= "https://gcdnb.pbrd.co/images/Jv5w69X3UAxZ.png"
           alt="Housing Icon"
           style="width: 25px; border-radius: 8px;">

    <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Housing & Shelter</h2>

    </div>
  </a>
  <p>
    TBD.
  </p>
</section>

<!--SUHEAD: EMPLOYMENT & JOB PROGRAMS-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='jobs') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/FePB8qtITrXe.png"
           alt="Jobs Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Employment & Job Programs</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



<!--SUHEAD: MEDICAL AID-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='medical') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/IJbSYFvfTqEQ.png"
           alt="Medical Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Medical Aid</h2>
    </div>
  </a>
  <p>
   TBD.
  </p>
</section>

<!--SUBHEAD: SOCIAL SERVICES-->
<section style="padding: 50px; text-align: center;">
  <a href="{{ url_for('category_page', category_name='socserv') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/U8WFLyuvOAZB.png"
           alt="Social Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Social Services</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



{% elif tab == 'Services'%}
<div style="height: 50px;"></div>
  <h2 style="text-align: center; margin-bottom: 40px;">Services</h2>

    <!--SUBHEAD : HOUSING & SHELTER-->
 <section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='housing') }}"
     style="text-decoration: none; color: inherit;">

      <img src= "https://gcdnb.pbrd.co/images/Jv5w69X3UAxZ.png"
           alt="Housing Icon"
           style="width: 25px; border-radius: 8px;">

    <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Housing & Shelter</h2>

    </div>
  </a>
  <p>
    TBD.
  </p>
</section>

<!--SUHEAD: EMPLOYMENT & JOB PROGRAMS-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='jobs') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/FePB8qtITrXe.png"
           alt="Jobs Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Employment & Job Programs</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



<!--SUHEAD: MEDICAL AID-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='medical') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/IJbSYFvfTqEQ.png"
           alt="Medical Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Medical Aid</h2>
    </div>
  </a>
  <p>
   TBD.
  </p>
</section>

<!--SUBHEAD: SOCIAL SERVICES-->
<section style="display: inline-block; text-align: center; width: 25px; margin: 20 px auto; padding: 50px">
  <a href="{{ url_for('category_page', category_name='socserv') }}"
     style="text-decoration: none; color: inherit;">

     <img src= "https://gcdnb.pbrd.co/images/U8WFLyuvOAZB.png"
           alt="Social Icon"
           style="width: 25px; border-radius: 8px;">


       <div style="margin-top: 20px;">
      <h2 style="margin: 0;">Social Services</h2>

    </div>
  </a>
  <p>
   TBD.
  </p>
</section>



{% elif tab == 'Category' %}
  {% if category_name == 'medical' %}
    <section style="text-align: center; padding: 50px">
      <h2>Medical Aid</h2>
            <title>The Map</title>
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
            <script src='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css' rel='stylesheet' />
            <style>
                body { margin: 0; padding: 0; }
                #map { display: inline-block; position: relative; top: 0px; left: 0px;  height: 500px; width: 1000px}
            </style>
                <div id= 'map'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoiamdhcmk5OSIsImEiOiJjbWh2OWRqem0wODY5MmpvbHJxMmozaTE3In0.vrLm1-6hthTMJwmeOc4UJQ';
                    const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [-117.16, 32.71],
                    zoom: 11
                    });



 shelters = [
              {

        'lat': 32.79900660506265,
        'lon': -116.9601865134914,
        'name': 'Aging & Independence Services',


       //"Available Clean Beds": [326,325,324,323,322]

    },
    {

        'lat': 32.71599167547079,
        'lon': -117.1560215,
        'name': 'Senior Impact'
    },
    {

        'lat':32.731718449871316,
        'lon':-117.16492089994334,
        'name': 'St. Paul\'s PACE San Diego'
    },
    {

        'lat': 32.723514016694836,
        'lon': -117.16139325969378,
        'name': 'Street Corner Care'
    },
    {

        'lat': 32.834611021571824,
        'lon':   -117.12371306131709,
        'name': 'Elder Help of San Diego'
    },
    {

        'lat':32.718670345363364,
        'lon': -117.15962191899425,
        'name': 'Downtown Family Health Center at Connections'
    },
    {

        'lat': 32.70613593008157,
        'lon': -117.1500831480566,
        'name': 'Father Joe\'s Villages Village Health Center'
    }

];




for (let i = 0; i < shelters.length; i++) {
    const shelter = shelters[i]; // get one shelter

    // Add a marker for this shelter
    new mapboxgl.Marker()
      .setLngLat([shelter.lon, shelter.lat]) // longitude, latitude
      .setPopup(
        new mapboxgl.Popup({ offset: 25 })
          .setHTML(
            `<h3>${shelter.name}</h3>

          `)
      )
      .addTo(map);
  }






                </script>





    </section>

  {% elif category_name == 'jobs' %}
    <section style="text-align: center; padding: 50px">
      <h2>Employment & Job Programs</h2>
      <p>TBD.</p>
    </section>

  {% elif category_name == 'medical' %}
    <section style="text-align: center; padding: 50px">
      <h2>Medical Aid Services</h2>
      <p>TBD.</p>
    </section>

  {% elif category_name == 'socserv' %}
    <section style="padding: 50px; text-align: center;">
      <h2>Social Services</h2>
      <p>TBD.</p>
    </section>



  {% endif %}




{% elif tab == 'Trends' %}
  <section style="padding: 50px;">
    <h2 style="text-align: center; font-size: 40px">Homelessness has been observed in proximity. </h2>
    <div style="text-align: center;">
      <p></p>
      <h2>The information below is courtesy of San Diego County Office</h2>
      <img
  src="{{ url_for('static', filename='/San Diego County Experiencing Homelessness.png') }}"
 style="max-width: 100%; height: auto; display: block; margin: 40px auto;"
  title="Housing Services PDF">
      </img>
    </div>
  </section>









{% elif tab == 'About This Website' %}
<img src="https://gcdnb.pbrd.co/images/bpRW2t1jOgFr.png"
     alt="Alternative text" style="position: relative; top: 100px; left: 300px" width="800" height="300"






  <section style="padding: 50px;">
    <h2 style="text-align: center; font-size: 40px">Information:</h2>
    <p>Our website allows people who are experiencing housing crisis and impaired with technological literacy
        to navigate and use resources with simplicity.
    <br>An application is in the works.</p>
  </section>

{% elif tab == 'Contact Us' %}
  <section style="padding: 50px;">
    <h2 style="text-align: center; font-size: 40px">Creators:</h2>
    <div style="text-align: center;">
      <p>Jesus Garibay</p>
      <p>Email: jgaribayavalos@sdsu.edu</p>
      <p>760-333-333</p>
      <p>Juan Lemus</p>
      <p>Email: ddfdffd@sdsu.edu</p>
      <p>760-333-333</p>
    </div>
  </section>


{% endif %}

{% endblock %}
